@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* h1 {
  font-size: 4rem;
  text-transform: lowercase;
  margin-bottom: 1rem;
} */

.nav {
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-transform: lowercase;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.name {
    font-size: 2rem;
    text-transform: lowercase;
  }

  .content {
    max-width: 600px;
    margin: 20vh auto;
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
  }

.home-link {
  position: absolute;
  top: 5vh;
  right: 5vw;
  font-size: 1.2rem;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  color: #111;
  text-transform: lowercase;
}

.home-link:hover {
  text-decoration: underline;
}
/* Sidebar navigation for internal pages */
.sidebar-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  padding-top: 5vh;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.2rem;
  background-color: #fff;
  z-index: 999;
}

@media (max-width: 768px) {
  .sidebar-nav {
    padding-left: 1rem;
    padding: 0.25rem;
    padding-top: 3rem;
    font-size: 1rem;
    flex-direction: column;
  }
}

.sidebar-nav a {
  text-decoration: none;
  color: #111;
  text-transform: lowercase;
}

.sidebar-nav a:hover {
  text-decoration: underline;
}

/* Make room for sidebar */
.page-content {
  margin-left: 65px;
  padding: 5vh 5vw;
}

@media (max-width: 768px) {
  .page-content {
    margin-top: 80px;   /* pushes content below the sidebar/nav */
    padding: 1rem;
  }
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.gallery img,
.log-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
  display: block;
}

@media (max-width: 768px) {
  .log-date {
    font-size: 0.9rem;
    margin: 0.25rem 0 0.5rem;
    text-align: left; /* or center if you prefer */
  }
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
}